.App {
  display: flex;
  background-color: cyan;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.content{
  height: 400px;
  background-color: blanchedalmond;
  padding: 10px 15px;
  box-shadow: 0 0 0 3px grey;
  border-radius: 20px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  margin-top: 20px;
  font-size: 1.4rem;
}
.video-container{
  width: 500px;
  margin-top: 60px;
}

video {
  box-shadow: 0 0 3px black;
  width: 100%;
  margin: 0;
  display: block;
}